[user]
	name = John Doe
	email = john.doe@example.com
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
	editor = atom --wait
	trustctime = false
[commit]
	template = ~/.gitmessage
[mergetool]
	keepBackup = true
[credential]
	helper = osxkeychain
[color]
	ui = yes
[push]
	default = current
[alias]
	l = log --pretty=format:\"%Cgreen%h%Creset %ad %C(cyan)%an%Creset - %s%C(red)%d%Creset\" --graph --date=short
